<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>One Red Paperclip</title>
  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<header class="text-end">
  <div class="collapse text-bg-dark" id="navbarHeader">
    <div class="container-fluid">
      <div class="row flex-nav">
        <div class="col-sm-8 col-md-7 py-4 img-logo">
            <img src="/images/logo.jpg" alt="Logo" class="logo">
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <ul class="list-unstyled ml-auto">
            <li><a href="/" class="text-white">Home</a></li>
            <!-- if user logged in, render this profile and logout, otherwise render login and sign-up -->
            {{#if logged_in}}
            <li><a href="/profile" class="text-white">Profile</a></li>
            <li><a href="/logout" class="text-white">Logout</a></li>
            {{else}}
            <li><a href="/login" class="text-white">Login</a></li>
            <li><a href="/signup" class="text-white">Sign Up</a></li>
            {{/if}}
            <li><a href="" class="text-white">About</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container-fluid">
      <a href="/" class="navbar-brand d-flex align-items-center">
        <strong class="left-pad">One Red Paperclip</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header> 
<div class="container-fluid">
<!-- handlebar placeholder for location of where body should be inserted -->
  {{{body}}}
</div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  {{!-- <script src="js/logout.js"></script> --}}
  {{/if}}
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

