<div
  class='modal modal-sheet position-static d-block p-4 py-md-5'
  tabindex='-1'
  role='dialog'
  id='modalLogin'
>
  <div class='modal-dialog' role='document'>
    <div class='modal-content rounded-4 shadow'>
      <div class='modal-header p-5 pb-4 border-bottom-0'>
        <img
          class='mb-4'
          src='/images/logo.jpg'
          alt='red paperclip logo'
          width='72'
          height='57'
        />
        <h1 class='fw-bold mb-0 fs-2'>Login</h1>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body p-5 pt-0'>
        <form class=''>
          <div class='form-floating mb-3'>
            <input
              type='email'
              class='form-control rounded-3'
              id='email-login'
              placeholder='name@example.com'
            />
            <label for='email-login'>Email address</label>
          </div>
          <div class='form-floating mb-3'>
            <input
              type='password'
              class='form-control rounded-3'
              id='password-login'
              placeholder='Password'
            />
            <label for='password-login'>Password</label>
          </div>
          <button
            id='login-btn'
            class='w-100 mb-2 btn btn-lg rounded-3 btn-primary'
            type='submit'
          >Login</button>
          <small class='text-body-secondary'>If you don't have an account, click
            <a href='/signup'>sign up</a>.</small>
          <hr class='my-4' />
          <h2 class='fs-5 fw-bold mb-3'>Or use a third-party</h2>
        </form>
        <button
          class='w-100 py-2 mb-2 btn btn-outline-secondary rounded-3'
          type='click'
          ,
          id='google-login'
        >
          {{! <svg class='bi me-1' width='16' height='16'><use
                id="google-login"
              xlink:href="#google"></svg> }}
          Login with Google
        </button>

      </div>
    </div>
  </div>
</div>
<script src='/js/login.js'></script>